# Scratchpad : 
## using Panda's built-in timeseries functionality

In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
# for plotting
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()

In [3]:
# parameters

# start_time = "2018-12-31 21:58:42"
end_time = "2019-01-01 11:58:42"
# generate this please
start_time = "?????"

time_frequency_for_periods__for_basic_data = "5T"
num_of_time_periods___for_basic_data = 24*20 # 24 hrs * 12 x 5 mins in each hour

# when generating time periods 
sampling_frequency = "3T"



# --- data urls 

curr_url = "????"
nordic_midnight_24_hrs_data__url = "/Users/miska/Documents/open_something/luftdaten/luftdaten_code/luftdaten__make_tabular_data__from_db_data/ld_NYE_midnight_24hrs_nordics_all_data_01.csv"

# set the current data source 
curr_url =nordic_midnight_24_hrs_data__url

In [4]:
#open data 

in_data = pd.read_csv( curr_url )
in_data.shape

(127109, 7)

In [5]:
# make sure the timestamps are timestamps
in_data['timestamp'] = pd.to_datetime( in_data['timestamp'] )

In [6]:
in_data = in_data.sort_values( by=['timestamp'] )

In [7]:
type( in_data['timestamp'][0] )

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
# set timestamp as the index
in_data = in_data.set_index( 'timestamp' )

In [9]:
# quick datadump
in_data[:15]

                     sensor_id sensor_namee     lat     lon      p1     p2
timestamp
2018-12-31 11:55:19      13012       SDS011  57.662  12.006    6.30   2.60
2018-12-31 11:56:37      18112       SDS011  57.478  11.978  174.80  15.13
2018-12-31 11:56:38      15067       SDS011  60.024  18.770    1.62   1.02
2018-12-31 11:56:39      11765       SDS011  55.716  13.244   33.95  13.40
2018-12-31 11:56:40      14811       SDS011  57.706  11.900   63.25  10.33
2018-12-31 11:56:40      10827       SDS011  59.334  13.512   11.45   6.00
2018-12-31 11:56:40      17538       SDS011  55.612  12.972   13.68   3.12
2018-12-31 11:56:41       7406       SDS011  56.964  24.128   11.05   6.62
2018-12-31 11:56:42      16155       SDS011  59.832  17.632    1.66   1.10
2018-12-31 11:56:43      11058       SDS011  59.272  15.220    2.99   1.46
2018-12-31 11:56:43      16533       SDS011  55.722  13.202   26.43  14.00
2018-12-31 11:56:43      14807       SDS011  57.718  12.034   55.02   8.75
2018-12-31 11:56:44      10924       SDS011  59.860  17.652    2.58   1.16
2018-12-31 11:56:45      10723       SDS011  59.298  18.052    4.90   2.76
2018-12-31 11:56:47      17923       SDS011  55.730  13.200   42.12  18.17

In [10]:
# now the time has been sorted, turn it into epoch time :)

In [11]:
unique_sensor_ids = in_data['sensor_id'].unique()
unique_sensor_ids.shape

(205,)

In [12]:
type( unique_sensor_ids )

numpy.ndarray

In [13]:
unique_sensor_ids = np.sort( unique_sensor_ids )

In [14]:
unique_sensor_ids

array([ 5321,  7273,  7275,  7277,  7406,  7426,  7428,  7469,  7499,
        7597,  8683,  9344,  9368,  9411,  9436,  9743,  9797, 10216,
       10234, 10250, 10281, 10430, 10588, 10647, 10719, 10721, 10723,
       10803, 10823, 10825, 10827, 10843, 10914, 10922, 10924, 10926,
       11002, 11004, 11006, 11058, 11060, 11232, 11374, 11376, 11378,
       11380, 11384, 11402, 11404, 11445, 11543, 11546, 11548, 11550,
       11552, 11554, 11657, 11659, 11661, 11663, 11763, 11765, 11767,
       11769, 11771, 11773, 12120, 12122, 12124, 12127, 12129, 12131,
       12133, 12135, 12137, 12141, 12381, 12383, 12385, 12387, 12389,
       12391, 12393, 12663, 12673, 12675, 12679, 12681, 12687, 12691,
       12693, 12861, 12990, 12994, 13000, 13010, 13012, 13014, 13018,
       13020, 13307, 13419, 13421, 13423, 13425, 13428, 13441, 13443,
       13475, 13477, 13479, 13483, 13762, 14017, 14133, 14209, 14264,
       14276, 14278, 14282, 14284, 14288, 14290, 14292, 14294, 14296,
       14300, 14722, 14797, 14799, 14801, 14803, 14807, 14809, 14811,
       14813, 14817, 14835, 14837, 14975, 14984, 15067, 15069, 15071,
       15073, 15549, 15551, 15561, 15837, 16145, 16147, 16149, 16151,
       16153, 16155, 16159, 16296, 16446, 16531, 16533, 16535, 16537,
       16705, 16723, 16811, 16813, 16815, 17018, 17020, 17038, 17235,
       17351, 17532, 17534, 17536, 17538, 17542, 17576, 17650, 17662,
       17710, 17712, 17923, 17925, 17927, 18056, 18110, 18112, 18243,
       18590, 18820, 18826, 18830, 18832, 18834, 18836, 18838, 18986,
       19119, 19207, 19301, 19337, 19547, 19597, 19599])

In [15]:
random_sensor_id_data = in_data[ in_data['sensor_id'] == unique_sensor_ids[1] ]
random_sensor_id_data.shape

(716, 6)

In [16]:
random_sensor_id_data

                     sensor_id sensor_namee     lat     lon    p1    p2
timestamp
2018-12-31 11:57:22       7273       SDS011  60.002  17.846  3.43  1.56
2018-12-31 11:59:50       7273       SDS011  60.002  17.846  3.78  1.55
2018-12-31 12:04:47       7273       SDS011  60.002  17.846  4.12  1.90
2018-12-31 12:07:16       7273       SDS011  60.002  17.846  3.45  1.75
2018-12-31 12:09:44       7273       SDS011  60.002  17.846  2.10  1.36
2018-12-31 12:12:13       7273       SDS011  60.002  17.846  1.45  1.16
2018-12-31 12:14:43       7273       SDS011  60.002  17.846  2.02  1.28
2018-12-31 12:19:43       7273       SDS011  60.002  17.846  1.78  1.36
2018-12-31 12:22:12       7273       SDS011  60.002  17.846  2.00  1.36
2018-12-31 12:24:40       7273       SDS011  60.002  17.846  2.45  1.42
2018-12-31 12:27:09       7273       SDS011  60.002  17.846  2.58  1.55
2018-12-31 12:27:09       7273       SDS011  60.002  17.846  2.58  1.55
2018-12-31 12:29:37       7273       SDS011  60.002  17.846  3.67  1.80
2018-12-31 12:29:37       7273       SDS011  60.002  17.846  3.67  1.80
2018-12-31 12:34:35       7273       SDS011  60.002  17.846  2.30  1.88
2018-12-31 12:37:03       7273       SDS011  60.002  17.846  2.80  1.84
2018-12-31 12:39:32       7273       SDS011  60.002  17.846  2.74  1.75
2018-12-31 12:42:00       7273       SDS011  60.002  17.846  3.00  1.80
2018-12-31 12:46:57       7273       SDS011  60.002  17.846  2.95  1.83
2018-12-31 12:49:26       7273       SDS011  60.002  17.846  2.46  1.75
2018-12-31 12:51:54       7273       SDS011  60.002  17.846  3.20  1.60
2018-12-31 12:54:23       7273       SDS011  60.002  17.846  3.28  1.50
2018-12-31 12:56:51       7273       SDS011  60.002  17.846  2.14  1.46
2018-12-31 13:01:48       7273       SDS011  60.002  17.846  2.35  1.42
2018-12-31 13:04:17       7273       SDS011  60.002  17.846  2.25  1.28
2018-12-31 13:06:45       7273       SDS011  60.002  17.846  2.50  1.36
2018-12-31 13:09:14       7273       SDS011  60.002  17.846  2.04  1.45
2018-12-31 13:11:42       7273       SDS011  60.002  17.846  2.11  1.40
2018-12-31 13:16:47       7273       SDS011  60.002  17.846  2.25  1.62
2018-12-31 13:19:17       7273       SDS011  60.002  17.846  2.22  1.64
...                        ...          ...     ...     ...   ...   ...
2019-01-01 22:31:21       7273       SDS011  60.002  17.846  1.64  1.28
2019-01-01 22:33:55       7273       SDS011  60.002  17.846  1.60  1.20
2019-01-01 22:36:26       7273       SDS011  60.002  17.846  2.43  1.32
2019-01-01 22:38:57       7273       SDS011  60.002  17.846  3.85  1.52
2019-01-01 22:41:30       7273       SDS011  60.002  17.846  4.04  1.35
2019-01-01 22:46:33       7273       SDS011  60.002  17.846  2.55  1.38
2019-01-01 22:49:03       7273       SDS011  60.002  17.846  2.88  1.45
2019-01-01 22:51:32       7273       SDS011  60.002  17.846  3.55  1.45
2019-01-01 22:54:00       7273       SDS011  60.002  17.846  4.05  1.35
2019-01-01 22:56:29       7273       SDS011  60.002  17.846  3.56  1.35
2019-01-01 23:01:27       7273       SDS011  60.002  17.846  3.62  1.25
2019-01-01 23:04:04       7273       SDS011  60.002  17.846  3.12  1.18
2019-01-01 23:06:38       7273       SDS011  60.002  17.846  2.93  1.34
2019-01-01 23:09:07       7273       SDS011  60.002  17.846  3.57  1.30
2019-01-01 23:11:35       7273       SDS011  60.002  17.846  3.18  1.14
2019-01-01 23:16:32       7273       SDS011  60.002  17.846  4.22  1.28
2019-01-01 23:19:04       7273       SDS011  60.002  17.846  3.28  1.23
2019-01-01 23:21:36       7273       SDS011  60.002  17.846  3.64  1.45
2019-01-01 23:24:05       7273       SDS011  60.002  17.846  3.66  1.56
2019-01-01 23:26:33       7273       SDS011  60.002  17.846  5.98  1.65
2019-01-01 23:31:30       7273       SDS011  60.002  17.846  4.80  1.36
2019-01-01 23:33:59       7273       SDS011  60.002  17.846  3.68  1.18
2019-01-01 23:36:27       7273       SDS011  60.002  17.846  3.73  1.08
2019-01-01 23:38:56       7273       SDS011  60.002  17.846  4.75  1.25
2019-01-01 23:41:33       7273       SDS011  60.002  17.846  3.35  1.15
2019-01-01 23:46:33       7273       SDS011  60.002  17.846  2.88  1.10
2019-01-01 23:46:33       7273       SDS011  60.002  17.846  2.88  1.10
2019-01-01 23:51:36       7273       SDS011  60.002  17.846  3.49  1.12
2019-01-01 23:54:04       7273       SDS011  60.002  17.846  2.90  1.22
2019-01-01 23:56:33       7273       SDS011  60.002  17.846  4.14  1.48

[716 rows x 6 columns]

In [17]:
# let's try indexing by time

In [18]:
random_sensor_id_data.index

DatetimeIndex(['2018-12-31 11:57:22', '2018-12-31 11:59:50',
               '2018-12-31 12:04:47', '2018-12-31 12:07:16',
               '2018-12-31 12:09:44', '2018-12-31 12:12:13',
               '2018-12-31 12:14:43', '2018-12-31 12:19:43',
               '2018-12-31 12:22:12', '2018-12-31 12:24:40',
               ...
               '2019-01-01 23:31:30', '2019-01-01 23:33:59',
               '2019-01-01 23:36:27', '2019-01-01 23:38:56',
               '2019-01-01 23:41:33', '2019-01-01 23:46:33',
               '2019-01-01 23:46:33', '2019-01-01 23:51:36',
               '2019-01-01 23:54:04', '2019-01-01 23:56:33'],
              dtype='datetime64[ns]', name='timestamp', length=716, freq=None)

In [19]:
random_sensor_id_data__p1_extract__to_plot = random_sensor_id_data[ '2018-12-31 23:00' : '2018-12-31 23:30' ]['p1']
random_sensor_id_data__p1_extract__to_plot

timestamp
2018-12-31 23:00:57    11.17
2018-12-31 23:03:28    11.88
2018-12-31 23:05:57    10.25
2018-12-31 23:10:54     8.57
2018-12-31 23:13:23    10.10
2018-12-31 23:15:53     8.38
2018-12-31 23:18:21     6.84
2018-12-31 23:20:50     9.78
2018-12-31 23:25:50     7.76
2018-12-31 23:28:18     8.76
2018-12-31 23:30:47    12.02
Name: p1, dtype: float64

In [20]:
random_sensor_id_data__p1_extract__to_plot.resample("5Min").mean()

timestamp
2018-12-31 23:00:00    11.525
2018-12-31 23:05:00    10.250
2018-12-31 23:10:00     9.335
2018-12-31 23:15:00     7.610
2018-12-31 23:20:00     9.780
2018-12-31 23:25:00     8.260
2018-12-31 23:30:00    12.020
Freq: 5T, Name: p1, dtype: float64

In [21]:
in_data_P1_extract = in_data['p1']

In [22]:
%time in_data_P1_extract.resample("5Min").mean()

CPU times: user 7.67 ms, sys: 1.51 ms, total: 9.18 ms
Wall time: 7.66 ms

timestamp
2018-12-31 11:55:00    43.607981
2018-12-31 12:00:00    36.501223
2018-12-31 12:05:00    41.185160
2018-12-31 12:10:00    40.648746
2018-12-31 12:15:00    38.348072
2018-12-31 12:20:00    32.435612
2018-12-31 12:25:00    30.573365
2018-12-31 12:30:00    29.368457
2018-12-31 12:35:00    24.010333
2018-12-31 12:40:00    30.291815
2018-12-31 12:45:00    30.055081
2018-12-31 12:50:00    27.613863
2018-12-31 12:55:00    42.683171
2018-12-31 13:00:00    25.068576
2018-12-31 13:05:00    19.973451
2018-12-31 13:10:00    20.164650
2018-12-31 13:15:00    19.058286
2018-12-31 13:20:00    15.242091
2018-12-31 13:25:00    18.353488
2018-12-31 13:30:00    15.781893
2018-12-31 13:35:00    27.339534
2018-12-31 13:40:00    24.816809
2018-12-31 13:45:00    18.482696
2018-12-31 13:50:00    16.244322
2018-12-31 13:55:00    17.888865
2018-12-31 14:00:00    21.701380
2018-12-31 14:05:00    18.430485
2018-12-31 14:10:00    19.954254
2018-12-31 14:15:00    19.438257
2018-12-31 14:20:00    21.278655
                         ...
2019-01-01 21:30:00     3.400124
2019-01-01 21:35:00     3.591407
2019-01-01 21:40:00     2.994676
2019-01-01 21:45:00     3.329497
2019-01-01 21:50:00     3.244875
2019-01-01 21:55:00     3.292618
2019-01-01 22:00:00     3.040585
2019-01-01 22:05:00     3.120679
2019-01-01 22:10:00     3.103509
2019-01-01 22:15:00     3.072031
2019-01-01 22:20:00     2.854068
2019-01-01 22:25:00     2.851953
2019-01-01 22:30:00     2.984585
2019-01-01 22:35:00     3.241700
2019-01-01 22:40:00     2.958763
2019-01-01 22:45:00     2.946727
2019-01-01 22:50:00     3.158779
2019-01-01 22:55:00     2.900309
2019-01-01 23:00:00     2.894303
2019-01-01 23:05:00     2.973660
2019-01-01 23:10:00     2.783693
2019-01-01 23:15:00     6.020463
2019-01-01 23:20:00     2.909738
2019-01-01 23:25:00     2.764795
2019-01-01 23:30:00     2.803075
2019-01-01 23:35:00     2.883906
2019-01-01 23:40:00     2.795710
2019-01-01 23:45:00     2.910422
2019-01-01 23:50:00     3.020372
2019-01-01 23:55:00     2.798306
Freq: 5T, Name: p1, Length: 433, dtype: float64

In [23]:
in_data_extract_sensor_id_7273 = in_data[ in_data['sensor_id'] == 7273 ]
in_data_extract_sensor_id_7273.shape

(716, 6)

In [24]:
in_data_extract_sensor_id_7273__resampled = in_data_extract_sensor_id_7273.resample("5Min").mean()

In [25]:
in_data_extract_sensor_id_7273__resampled

                     sensor_id     lat     lon     p1     p2
timestamp
2018-12-31 11:55:00     7273.0  60.002  17.846  3.605  1.555
2018-12-31 12:00:00     7273.0  60.002  17.846  4.120  1.900
2018-12-31 12:05:00     7273.0  60.002  17.846  2.775  1.555
2018-12-31 12:10:00     7273.0  60.002  17.846  1.735  1.220
2018-12-31 12:15:00     7273.0  60.002  17.846  1.780  1.360
2018-12-31 12:20:00     7273.0  60.002  17.846  2.225  1.390
2018-12-31 12:25:00     7273.0  60.002  17.846  3.125  1.675
2018-12-31 12:30:00     7273.0  60.002  17.846  2.300  1.880
2018-12-31 12:35:00     7273.0  60.002  17.846  2.770  1.795
2018-12-31 12:40:00     7273.0  60.002  17.846  3.000  1.800
2018-12-31 12:45:00     7273.0  60.002  17.846  2.705  1.790
2018-12-31 12:50:00     7273.0  60.002  17.846  3.240  1.550
2018-12-31 12:55:00     7273.0  60.002  17.846  2.140  1.460
2018-12-31 13:00:00     7273.0  60.002  17.846  2.300  1.350
2018-12-31 13:05:00     7273.0  60.002  17.846  2.270  1.405
2018-12-31 13:10:00     7273.0  60.002  17.846  2.110  1.400
2018-12-31 13:15:00     7273.0  60.002  17.846  2.235  1.630
2018-12-31 13:20:00     7273.0  60.002  17.846  2.795  1.700
2018-12-31 13:25:00     7273.0  60.002  17.846  3.920  2.060
2018-12-31 13:30:00     7273.0  60.002  17.846  3.620  2.025
2018-12-31 13:35:00     7273.0  60.002  17.846  3.605  2.230
2018-12-31 13:40:00     7273.0  60.002  17.846  3.470  2.050
2018-12-31 13:45:00     7273.0  60.002  17.846  4.100  2.460
2018-12-31 13:50:00     7273.0  60.002  17.846  4.000  2.175
2018-12-31 13:55:00     7273.0  60.002  17.846  3.680  2.340
2018-12-31 14:00:00     7273.0  60.002  17.846  3.445  2.160
2018-12-31 14:05:00     7273.0  60.002  17.846  2.800  2.035
2018-12-31 14:10:00     7273.0  60.002  17.846  3.180  2.040
2018-12-31 14:15:00     7273.0  60.002  17.846  3.750  2.040
2018-12-31 14:20:00     7273.0  60.002  17.846  2.825  1.770
...                        ...     ...     ...    ...    ...
2019-01-01 21:30:00     7273.0  60.002  17.846  1.410  0.920
2019-01-01 21:35:00     7273.0  60.002  17.846  2.125  1.125
2019-01-01 21:40:00     7273.0  60.002  17.846  2.750  1.380
2019-01-01 21:45:00     7273.0  60.002  17.846  2.710  1.330
2019-01-01 21:50:00     7273.0  60.002  17.846  2.490  1.355
2019-01-01 21:55:00     7273.0  60.002  17.846  2.720  1.450
2019-01-01 22:00:00     7273.0  60.002  17.846  2.760  1.325
2019-01-01 22:05:00     7273.0  60.002  17.846  2.720  1.505
2019-01-01 22:10:00     7273.0  60.002  17.846  3.300  1.530
2019-01-01 22:15:00     7273.0  60.002  17.846  3.020  1.530
2019-01-01 22:20:00     7273.0  60.002  17.846  2.645  1.400
2019-01-01 22:25:00     7273.0  60.002  17.846  2.020  1.320
2019-01-01 22:30:00     7273.0  60.002  17.846  1.620  1.240
2019-01-01 22:35:00     7273.0  60.002  17.846  3.140  1.420
2019-01-01 22:40:00     7273.0  60.002  17.846  4.040  1.350
2019-01-01 22:45:00     7273.0  60.002  17.846  2.715  1.415
2019-01-01 22:50:00     7273.0  60.002  17.846  3.800  1.400
2019-01-01 22:55:00     7273.0  60.002  17.846  3.560  1.350
2019-01-01 23:00:00     7273.0  60.002  17.846  3.370  1.215
2019-01-01 23:05:00     7273.0  60.002  17.846  3.250  1.320
2019-01-01 23:10:00     7273.0  60.002  17.846  3.180  1.140
2019-01-01 23:15:00     7273.0  60.002  17.846  3.750  1.255
2019-01-01 23:20:00     7273.0  60.002  17.846  3.650  1.505
2019-01-01 23:25:00     7273.0  60.002  17.846  5.980  1.650
2019-01-01 23:30:00     7273.0  60.002  17.846  4.240  1.270
2019-01-01 23:35:00     7273.0  60.002  17.846  4.240  1.165
2019-01-01 23:40:00     7273.0  60.002  17.846  3.350  1.150
2019-01-01 23:45:00     7273.0  60.002  17.846  2.880  1.100
2019-01-01 23:50:00     7273.0  60.002  17.846  3.195  1.170
2019-01-01 23:55:00     7273.0  60.002  17.846  4.140  1.480

[433 rows x 5 columns]

In [26]:
row2 = in_data_extract_sensor_id_7273__resampled[:1]

In [27]:
row2

                     sensor_id     lat     lon     p1     p2
timestamp
2018-12-31 11:55:00     7273.0  60.002  17.846  3.605  1.555

In [28]:
type( row2 )

pandas.core.frame.DataFrame

In [29]:
row2.columns

Index(['sensor_id', 'lat', 'lon', 'p1', 'p2'], dtype='object')

In [30]:
row2.index = pd.Timestamp( 2018, 12, 30 )

TypeError: Index(...) must be called with a collection of some kind, Timestamp('2018-12-30 00:00:00') was passed

In [31]:
df_sml = pd.DataFrame( data = { 'timestamp' : "2018-12-30 11:55:00", 'sensor_id' : 7273.0, 'lat' : 60.002, 'lon' : 17.846, 'p1' : 3.605, 'p2' : 1.555 }, index=[ pd.Timestamp("2018-12-30 11:55:00")] )

In [32]:
df_sml.columns

Index(['timestamp', 'sensor_id', 'lat', 'lon', 'p1', 'p2'], dtype='object')

In [33]:
df_sml = pd.to_datetime( df_sml['timestamp'] )

In [34]:
df_sml

2018-12-30 11:55:00   2018-12-30 11:55:00
Name: timestamp, dtype: datetime64[ns]

In [35]:
in_data_extract_sensor_id_7273__resampled_02 = in_data_extract_sensor_id_7273__resampled.append( df_sml )

In [36]:
in_data_extract_sensor_id_7273__resampled_02

,sensor_id,lat,lon,p1,p2,2018-12-30 11:55:00
timestamp,,,,,,
2018-12-31 11:55:00,7273,60.002,17.846,3.605,1.555,NaN
2018-12-31 12:00:00,7273,60.002,17.846,4.12,1.9,NaN
2018-12-31 12:05:00,7273,60.002,17.846,2.775,1.555,NaN
2018-12-31 12:10:00,7273,60.002,17.846,1.735,1.22,NaN
2018-12-31 12:15:00,7273,60.002,17.846,1.78,1.36,NaN
2018-12-31 12:20:00,7273,60.002,17.846,2.225,1.39,NaN
2018-12-31 12:25:00,7273,60.002,17.846,3.125,1.675,NaN
2018-12-31 12:30:00,7273,60.002,17.846,2.3,1.88,NaN
2018-12-31 12:35:00,7273,60.002,17.846,2.77,1.795,NaN
2018-12-31 12:40:00,7273,60.002,17.846,3,1.8,NaN
2018-12-31 12:45:00,7273,60.002,17.846,2.705,1.79,NaN
2018-12-31 12:50:00,7273,60.002,17.846,3.24,1.55,NaN
2018-12-31 12:55:00,7273,60.002,17.846,2.14,1.46,NaN
2018-12-31 13:00:00,7273,60.002,17.846,2.3,1.35,NaN
2018-12-31 13:05:00,7273,60.002,17.846,2.27,1.405,NaN
2018-12-31 13:10:00,7273,60.002,17.846,2.11,1.4,NaN
2018-12-31 13:15:00,7273,60.002,17.846,2.235,1.63,NaN
2018-12-31 13:20:00,7273,60.002,17.846,2.795,1.7,NaN
2018-12-31 13:25:00,7273,60.002,17.846,3.92,2.06,NaN
2018-12-31 13:30:00,7273,60.002,17.846,3.62,2.025,NaN
2018-12-31 13:35:00,7273,60.002,17.846,3.605,2.23,NaN
2018-12-31 13:40:00,7273,60.002,17.846,3.47,2.05,NaN
2018-12-31 13:45:00,7273,60.002,17.846,4.1,2.46,NaN
2018-12-31 13:50:00,7273,60.002,17.846,4,2.175,NaN
2018-12-31 13:55:00,7273,60.002,17.846,3.68,2.34,NaN
2018-12-31 14:00:00,7273,60.002,17.846,3.445,2.16,NaN
2018-12-31 14:05:00,7273,60.002,17.846,2.8,2.035,NaN
2018-12-31 14:10:00,7273,60.002,17.846,3.18,2.04,NaN
2018-12-31 14:15:00,7273,60.002,17.846,3.75,2.04,NaN
2018-12-31 14:20:00,7273,60.002,17.846,2.825,1.77,NaN
...,...,...,...,...,...,...
2019-01-01 21:35:00,7273,60.002,17.846,2.125,1.125,NaN
2019-01-01 21:40:00,7273,60.002,17.846,2.75,1.38,NaN
2019-01-01 21:45:00,7273,60.002,17.846,2.71,1.33,NaN
2019-01-01 21:50:00,7273,60.002,17.846,2.49,1.355,NaN
2019-01-01 21:55:00,7273,60.002,17.846,2.72,1.45,NaN
2019-01-01 22:00:00,7273,60.002,17.846,2.76,1.325,NaN
2019-01-01 22:05:00,7273,60.002,17.846,2.72,1.505,NaN
2019-01-01 22:10:00,7273,60.002,17.846,3.3,1.53,NaN
2019-01-01 22:15:00,7273,60.002,17.846,3.02,1.53,NaN
2019-01-01 22:20:00,7273,60.002,17.846,2.645,1.4,NaN
2019-01-01 22:25:00,7273,60.002,17.846,2.02,1.32,NaN
2019-01-01 22:30:00,7273,60.002,17.846,1.62,1.24,NaN
2019-01-01 22:35:00,7273,60.002,17.846,3.14,1.42,NaN
2019-01-01 22:40:00,7273,60.002,17.846,4.04,1.35,NaN
2019-01-01 22:45:00,7273,60.002,17.846,2.715,1.415,NaN
2019-01-01 22:50:00,7273,60.002,17.846,3.8,1.4,NaN
2019-01-01 22:55:00,7273,60.002,17.846,3.56,1.35,NaN
2019-01-01 23:00:00,7273,60.002,17.846,3.37,1.215,NaN
2019-01-01 23:05:00,7273,60.002,17.846,3.25,1.32,NaN
2019-01-01 23:10:00,7273,60.002,17.846,3.18,1.14,NaN
2019-01-01 23:15:00,7273,60.002,17.846,3.75,1.255,NaN
2019-01-01 23:20:00,7273,60.002,17.846,3.65,1.505,NaN
2019-01-01 23:25:00,7273,60.002,17.846,5.98,1.65,NaN
2019-01-01 23:30:00,7273,60.002,17.846,4.24,1.27,NaN
2019-01-01 23:35:00,7273,60.002,17.846,4.24,1.165,NaN
2019-01-01 23:40:00,7273,60.002,17.846,3.35,1.15,NaN
2019-01-01 23:45:00,7273,60.002,17.846,2.88,1.1,NaN
2019-01-01 23:50:00,7273,60.002,17.846,3.195,1.17,NaN
2019-01-01 23:55:00,7273,60.002,17.846,4.14,1.48,NaN
timestamp,NaT,NaT,NaT,NaT,NaT,2018-12-30 11:55:00

In [37]:
in_data_extract_sensor_id_7273__resampled_02__with_p1_only = in_data_extract_sensor_id_7273__resampled_02['p1']

In [38]:
in_data_extract_sensor_id_7273__resampled_02__with_p1_only

timestamp
2018-12-31 11:55:00    3.605
2018-12-31 12:00:00     4.12
2018-12-31 12:05:00    2.775
2018-12-31 12:10:00    1.735
2018-12-31 12:15:00     1.78
2018-12-31 12:20:00    2.225
2018-12-31 12:25:00    3.125
2018-12-31 12:30:00      2.3
2018-12-31 12:35:00     2.77
2018-12-31 12:40:00        3
2018-12-31 12:45:00    2.705
2018-12-31 12:50:00     3.24
2018-12-31 12:55:00     2.14
2018-12-31 13:00:00      2.3
2018-12-31 13:05:00     2.27
2018-12-31 13:10:00     2.11
2018-12-31 13:15:00    2.235
2018-12-31 13:20:00    2.795
2018-12-31 13:25:00     3.92
2018-12-31 13:30:00     3.62
2018-12-31 13:35:00    3.605
2018-12-31 13:40:00     3.47
2018-12-31 13:45:00      4.1
2018-12-31 13:50:00        4
2018-12-31 13:55:00     3.68
2018-12-31 14:00:00    3.445
2018-12-31 14:05:00      2.8
2018-12-31 14:10:00     3.18
2018-12-31 14:15:00     3.75
2018-12-31 14:20:00    2.825
                       ...
2019-01-01 21:35:00    2.125
2019-01-01 21:40:00     2.75
2019-01-01 21:45:00     2.71
2019-01-01 21:50:00     2.49
2019-01-01 21:55:00     2.72
2019-01-01 22:00:00     2.76
2019-01-01 22:05:00     2.72
2019-01-01 22:10:00      3.3
2019-01-01 22:15:00     3.02
2019-01-01 22:20:00    2.645
2019-01-01 22:25:00     2.02
2019-01-01 22:30:00     1.62
2019-01-01 22:35:00     3.14
2019-01-01 22:40:00     4.04
2019-01-01 22:45:00    2.715
2019-01-01 22:50:00      3.8
2019-01-01 22:55:00     3.56
2019-01-01 23:00:00     3.37
2019-01-01 23:05:00     3.25
2019-01-01 23:10:00     3.18
2019-01-01 23:15:00     3.75
2019-01-01 23:20:00     3.65
2019-01-01 23:25:00     5.98
2019-01-01 23:30:00     4.24
2019-01-01 23:35:00     4.24
2019-01-01 23:40:00     3.35
2019-01-01 23:45:00     2.88
2019-01-01 23:50:00    3.195
2019-01-01 23:55:00     4.14
timestamp                NaT
Name: p1, Length: 434, dtype: object

In [39]:
in_data_extract_sensor_id_7273__resampled_02__with_p1_only_02 = in_data_extract_sensor_id_7273__resampled_02__with_p1_only.resample("5Min").mean()

TypeError: Cannot compare type 'Timestamp' with type 'str'